<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <!-- Template Design by cssMoban.com | http://www.cssMoban.com | Released for free under a Creative Commons Attribution-Share Alike 3.0 Philippines -->
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Manted's Space</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="layout.css" rel="stylesheet" type="text/css" media="screen" />
  </head>
  <body>
    <div id="header">
      <div id="logotime">
	<table border="0" width="100%" cellpadding="10">
	  <tr>
	    <td width="50%" valign="top">
	      <div id="logo">
		<h1>Manted's Space</h1>
		<p><a href="http://manted.github.com">Welcome Here My Friends</a></p>
	      </div>
	    </td>
	    <td width="50%" valign="top">
	      <div id="time">
		<script>document.getElementById('time').innerHTML=new Date().toLocaleString()+' 星期'+'日一二三四五六'.charAt(new Date().getDay());setInterval("document.getElementById('time').innerHTML=new Date().toLocaleString()+' 星期'+'日一二三四五六'.charAt(new Date().getDay());",1000);
		</script>
	      </div>
	    </td>

	  </tr>
	</table>
      </div>

      <div id="navigation">
	<ul>
	  <li><a href="index.html" class="first">Some Words</a></li>
	  <li><a href="photos.html">Photos</a></li>
	  <li><a href="link.html">People I Respect</a></li>
	  <li><a href="contact.html">Contact Me</a></li>
	</ul>
      </div>
    </div>

   <div id="content">
      <div id="page">
	<div id="column1">
	  <div class="box1">
	    <div id="grating">
	    <script type="text/javascript">
	      var d = new Date()
	      var time = d.getHours()

	      document.write("<b>Good </b>")
	      if (time>=6 && time<12) 
		{
		document.write("<b>morning</b>")
		}

		else if(time>=12 && time<18)
                {
                document.write("<b>afternoon</b>")
                }
                  else if((time>=18 && time<24) || (time>0 && time<6))
                  {
                  document.write("<b>evening</b>")
                  }
              document.write("<b> my friends!~</b>")
            </script>
	    <p class="separator">&nbsp;</p>
            </div>
	      {{ content }}		    
	  </div>
	</div>


	<div id="column2">
	  <h2>Recently</h2>
	  <p>学习 充实自己 对生活充满希望～</p>
	  <p>Everything will be ok.</p>
	  <p class="separator">&nbsp;</p>

	  <h2>About My Team</h2>
	  <p>电子加油！</p>
	  <p><a href="#" class="more">Read More</a> </p>
	  <p class="separator">&nbsp;</p>

	  <div id="visitnum">
	    <script language="javascript" type="text/javascript" src="http://quote.51.la/?id=6096491&amp;mb=4"></script>
	    <br />
	    <script language="javascript" type="text/javascript" src="http://js.users.51.la/6096491.js"></script>
	    <noscript><a href="http://www.51.la/?6096491" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/6096491.asp" style="border:none" /></a></noscript>
	  </div>

	</div>
      </div>
      <div style="clear: both;">&nbsp;</div>
    </div>

    <div id="footer">
      <p>&copy;&nbsp;Copyright 2011. All Rights Reserved. template design by <a href="http://www.cssMoban.com" class="links">cssMoban.com</a> </p>
    </div>
  </body>
</html>
